<h1>RSP Schülke GmbH in Soest</h1>

<h3>
  Kabelkonfektion, Elektrogerätebau, Metallbearbeitung und Service für unsere
  Kunden
</h3>

<p>
  Die RSP Schülke GmbH mit Sitz in Soest, Westfalen, wurde 1977 gegründet, ist
  seit 1982 eine GmbH und bis heute ein Familienunternehmen.
</p>
<p>
  Der Schwerpunkt der RSP GmbH ist die Projekt- und Kleinserienfertigung und
  Konstruktion bei Kabelkonfektion, Geräteherstellung, Elektrotechnik,
  Elektrogeräte- und Metallbau. Unsere Kabelkonstruktionen und ihre Konfektionen
  sind zugelassen nach VG 96927. RSP GmbH aus Soest steht für höchste
  Flexibilität. Das stellen wir seit vielen Jahren erfolgreich unter Beweis. Die
  RSP Schülke GmbH setzt auf langfristige Kundenbindung und Zuverlässigkeit. Ein
  Beispiel dafür ist die langjährige Zusammenarbeit mit dem Unternehmen
  Rheinmetall, über das wir an zahlreichen Defence-Projekten beteiligt sind.
</p>
<p>
  Wir nehmen unsere Verantwortung gegenüber unserer Umwelt sehr ernst. Deshalb
  stehen Qualität und Nachhaltigkeit für uns an erster Stelle. In diesem
  Zusammenhang stehen auch unser Obsoleszenz-Management und unser
  Re-Engineering. Die RSP GmbH baut nach, was es auf dem Markt nicht mehr gibt.
  Damit bleiben Geräte oder Fahrzeuge unserer Kunden länger im Einsatz. Das
  unterstützt die Wirtschaftlichkeit und schont die Umwelt und ihre Ressourcen.
</p>
<p>
  Die wichtigsten Kunden der RSP Schülke GmbH sind die Bundeswehr, die Deutsche
  Post, das Technische Hilfswerk und Rheinmetall. Weitere Kunden sind unter
  anderen die Landesregierung NRW, die Bundespolizei, Airbus und die Feuerwehr.
</p>
<h2>Strategische Qualität ist unser Anspruch für heute und morgen</h2>

<h3>
  Nachhaltig, unserer Umwelt verpflichtet: dafür steht die RSP Schülke GmbH
</h3>
<p>
  Wir zeichnen uns aus durch Kompetenz, Erfahrung, Flexibilität, Termintreue,
  Zuverlässigkeit, Diskretion und ein Team von hochqualifizierten und
  engagierten Mitarbeitern. Genau das schätzen unsere Kunden seit über 40 Jahren
  an der RSP GmbH. In diesen Jahren ist es uns gelungen, zahlreiche Patente und
  militärische Zulassungen zu erzielen.
</p>
<p>
  Unseren Erfolg verdanken wir unserer technologischen Expertise, unserer
  Wirtschaftlichkeit und Flexibilität. Die Erfahrung und das professionelle
  Können der RSP GmbH Mitarbeiter gewährleisten höchste Qualität der Produkte
  und ihre zuverlässige Produktion. Wir sind einer der führenden Anbieter im
  Bereich Kabel, Kabelkonfektion, Elektrotechnik und Elektrogerätebau.
</p>
<p>
  Für uns, der RSP GmbH, geht es um mehr als die technische Qualität unserer
  Produkte und Serviceleistungen. Unser Anspruch sind stets erstklassige
  Produkte und Dienstleistungen zu wettbewerbsfähigen Preisen. Die
  Zukunftsperspektive der RSP Schülke GmbH ist die kontinuierliche Verbesserung
  des Bestehenden: morgen besser als heute ist unser Anspruch. Um das zu
  verwirklichen stehen wir in einem kontinuierlichen und konstruktiven Dialog
  mit unseren Kunden und Lieferanten und ggf. den zuständigen Behörden.
</p>
<p>
  Die Fähigkeit und Kompetenz der RSP GmbH garantiert höchste Qualität unserer
  Leistungen, mit denen wir Anforderungen und Erwartungen unserer Kunden
  erfüllen.
</p>
<p>
  Bei all unserem Tun fühlen wir uns, unseren Mitarbeitern, der Gesellschaft und
  der Umwelt verpflichtet.
</p>

<h2>RSP GmbH in Soest: auf diese Kunden sind wir stolz.</h2>
<h3>Wir setzen auf langfristige Kundenbeziehungen seit 40 Jahren</h3>
<p>
  Die RSP Schülke GmbH zeichnet sich durch Kompetenz, Erfahrung, Flexibilität,
  Termintreue, Zuverlässigkeit, Diskretion und einem Team von hochqualifizierten
  und engagierten Mitarbeitern aus. Genau das schätzen unsere Kunden seit über
  40 Jahren an uns. In diesen Jahren ist es der RSP GmbH gelungen, die in der
  Branche wichtigen Zertifizierungen und Zulassungen, auch die militärischen
  Zulassungen am Standort in Soest, zu erzielen. Unser Kompetenzspektrum reicht
  vom Kabelbau, der Kabelkonfektion, Elektrogerätebau bis hin zur
  Metallbearbeitung. Die RSP Schülke GmbH konstruiert und baut nach Vorgaben der
  Kunden oder baut mit dem Re-Engineering Bauteile nach, die es nicht mehr gibt.
</p>
<p>
  Wir sind stolz auf langjährige Kunden. Die Hauptkunden der RSP GmbH sind die
  Bundeswehr, die Deutsche Post, das Technische Hilfswerk und Rheinmetall.
  Weitere Kunden sind unter anderen die Landesregierung NRW, die Bundespolizei,
  Airbus und die Feuerwehr.
</p>
