<h1>Zertifizierungen und Zulassungen: Auf unsere Qualität ist immer Verlass</h1>
<h2>
  Die RSP GmbH ist zertifiziert nach DIN EN ISO 9001 und nach der AQAP-Reihe
</h2>
<p>
  Wir sind nach DIN EN ISO 9001 und militärisch nach der AQAP-Reihe
  zertifiziert. Bei der DIN-Norm handelt es sich um eine Übersichtsnorm für den
  Bereich konfektionierte Kabel und Leitungen.
</p>
<p>
  Diese Norm gibt eine Übersicht über konfektionierte Kabel und Leitungen, die
  in Bauartnormen der Reihe VG 96927 veröffentlicht sind.
</p>
<p>
  Zuständig für die Norm ist das Gremium NA 140-00-04 AA, „Konfektionierte
  elektrische Kabel und Leitungen“ der DIN-Namenstelle Elektrotechnik (NE).
</p>
<p>
  Für unsere Kabel, Kabelbäume und Kabelkonfektionen haben wir die Zulassung VG
  96927.
</p>
<p>Ebenso sind RSP-Produkte zertifiziert nach DIN VDE und VDI.</p>
