<h1>
  Von Kabel bis Metall: wir von der RSP GmbH verwirklichen die Projekte unserer
  Kunden
</h1>
<h2>Zuverlässig und in höchster Qualität</h2>
<p>
  Das Produktportfolio der RSP Schülke GmbH aus Soest ist sehr umfassend und
  reicht vom speziellen Kabel, über komplette Kabelsysteme nach Anforderungen
  unserer Kunden, bis zu ultramodernen und zweckmäßigen Haltestellen für den
  Öffentlichen Nahverkehr. Für die RSP GmbH versteht es sich von selbst, dass
  wir für unsere Produkte auf Wunsch den kompletten Service und die
  Instandhaltung anbieten. Auf uns ist Verlass.
</p>
<h2>Produktportfolio der RSP Schülke GmbH</h2>
<h3>Kabelsysteme</h3>
<p>
  Im Sektor Kabelsysteme hat sich die RSP Schülke GmbH in 40 Jahren Erfahrung
  einen Standard erarbeitet, der seinesgleichen sucht. Wir fertigen
  verschiedenste Systemkabel, Kabelbäume, Sonderkabel, Prototypenkabel und
  Kabeltrommeln. Dies insbesondere für den militärischen Bereich. Zugelassen
  sind unsere Kabel und Kabelkonfektionen gemäß VG 96927.
</p>

<h3>Geräte & Elektronik</h3>
<p>
  Komplette, individuelle Geräte und Systeme mit der geforderten Elektronik
  bauen wir, die RSP GmbH, erfolgreich seit über 40 Jahren am Standort Soest,
  sowohl in Serie wie auch Einzelstücke nach MIL und VG, VDI und VDE.
</p>
<h3>Metallbau & ÖVNP</h3>

<p>
  Metallbau maßgeschneidert: das ist der Anspruch der RSP GmbH aus Soest. Im
  Bereich Metallbau und Öffentlicher Nahverkehr fertigen wir nichtgepanzerte
  Produkte und Lösungen nach den Vorgaben des Kunden, sowie Serienprodukte für
  die Deutsche Post.
</p>
<h3>Ausrüstung</h3>
<p>Hier fehlt noch Text.</p>
