/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  // line-height: 2;
}

p,
h1,
h2,
h3 {
  max-width: 70ch;
  // padding: 1em 0 0 0;
}
