<img src="assets/header_rsp-gmbh.png" alt="" class="banner" />
<div class="container">
  <mat-card class="card0">
    <mat-card-header>
      <mat-card-title>Kabelkonfektion</mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Im Sektor Kabelsysteme haben wir uns in 40 Jahren Erfahrung einen
        Standard erarbeitet, der seinesgleichen sucht
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
  </mat-card-actions> -->
  </mat-card>

  <mat-card class="card1">
    <mat-card-header>
      <mat-card-title>Elektrogerätebau</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Komplette, individuelle Geräte und Systeme mit der geforderten
        Elektronik bauen wir erfolgreich am Standort Soest.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card2">
    <mat-card-header>
      <mat-card-title>Metallbearbeitung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Metallbau maßgeschneidert: das ist der Anspruch von RSP aus Soest. Wir
        fertigen Produkte und Lösungen nach Ihren Vorgaben
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card3">
    <mat-card-header>
      <mat-card-title>Service</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Auf unser Qualitätsmanagement ist immer Verlass. Wir sind zertifiziert
        nach DIN EN ISO 9001 und der AQAP-Reihe.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="welcome-text">
    <h1>RSP GmbH mit Sitz in Soest</h1>
    <h3>
      Schwerpunkt sind die Kabelkonfektion, Geräteherstellung, Elektrogerätebau
      und Metallbearbeitung
    </h3>
    <p>
      <img src="assets/iso9001_d__alpha.png" alt="" class="cert" />
      Unsere Kabelkonstruktionen und ihre Konfektionen sind zugelassen nach VG
      96927. RSP aus Soest steht für höchste Flexibilität. Das stellen wir seit
      über 40 Jahren erfolgreich unter Beweis. Die RSP GmbH setzt auf
      langfristige Kundenbindung und Zuverlässigkeit. Ein Beispiel dafür ist die
      langjährige Zusammenarbeit mit dem Unternehmen Rheinmetall, über das wir
      an zahlreichen Defence-Projekten beteiligt sind.
    </p>
  </div>
</div>
